# Node dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Test and coverage reports
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
