# Node dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Test and coverage reports
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds


#auth credentials
myBlog-back-end/fullstacktutorial-695cc-cred.json

myBlog-back-end/prod-env.yaml
prod-env.yaml